@import '/src/styles/variables.scss';

.reviewTab {
  display: flex;
  margin-top: 20px;
  font-size: 10px;

  .review {
    padding-right: 10px;

    span {
      color: #8f8f8f;
      padding-right: 5px;
    }

    em {
      color: #6b90dc;
      font-weight: 600;
    }
  }

  .reputation {
    span {
      color: #8f8f8f;
      padding-right: 5px;
    }

    em {
      color: #6b90dc;
      font-weight: 600;
    }
  }
}

.currentStock {
  margin-top: 16px;
  font-size: 12px;

  span {
    padding: 2px 7px;
    background-color: $soldOutColor;
    color: white;
  }
}
