section.캐러셀 {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 100px 1fr 1fr;
  background-color: blue;
}

button.이전 {
  grid-column: 1/2;
  grid-row: 2/3;
}
button.다음 {
  grid-column: 3/4;
  grid-row: 2/3;
}
article {
  background-color: red;
}
