@import '/src/styles/variables.scss';
.cart {
  width: 100vw;

  .cartNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 96px;
    margin: auto;
    font-size: 20px;

    .normalDeli {
      font-weight: 800;
    }

    .ingStatus {
      font-size: 13px;
    }

    .basketBold {
      font-weight: bold;
    }
  }
}
