@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

$MainBackground: #ffffff;
$couponBackground: #2f2f2f;

$fontColor: #000000;
$secondryFontColor: #999999;
$skyblue: #6b90db;

$soldOutColor: #535967;
$green: #02c75a;
