@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}


$MainBackground: #FFFFFF;
$couponBackground: #2F2F2F;

$fontColor: #000000;
$secondryFontColor: #999999;
$skyblue: #6B90DB; 

$soldOutColor: #535967
$green: #02C75A;



