.productList {
  position: relative;
  .categoryMain {
    display: flex;
    justify-content: center;

    .categoryList {
      width: 1280px;

      .fiveGrids {
        display: grid;
        grid-template-columns: repeat(5, minmax(15%, 1fr));
        column-gap: 30px;
      }

      .doubleGrid {
        display: grid;
        grid-template-columns: repeat(2, minmax(15%, 1fr));
        column-gap: 30px;
      }
    }
  }

  .paginationBtnList {
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -75px;

    .paginationBtn {
      margin: 0 5px;
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 70%;

      &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
      }
    }
  }
}
