@import '/src//styles/variables.scss';

.productDetail {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  .layOut {
    width: 1020px;
    display: flex;
    justify-content: center;
  }
}
