@import '/src//styles/variables.scss';

.productDetail {
  width: 100vw;
  display: flex;
  justify-content: center;

  .layOut {
    width: 1020px;
    display: flex;
    justify-content: center;

    .productInfoWrapper {
      display: flex;
      position: relative;
      width: 50%;
      justify-content: center;
      flex-direction: column;
      border: 1px solid #ededed;

      .mainProductImg {
        width: 100%;
        display: flex;
        justify-content: center;
        border: 1px solid #ededed;
      }

      .imgs {
        display: flex;
        justify-content: center;
        width: 511px;
        height: 40px;
        display: flex;
        margin: 15px -1px 0;
        overflow: hidden;

        li {
          margin: 0 10px;
          img {
            height: 40px;
          }
        }
      }

      .productReviewCount {
        position: absolute;
        bottom: 24px;
        left: 40px;
      }
    }

    .productPurchase {
      display: flex;
      width: 430px;
    }
  }

  .productPurchase {
    display: flex;
    position: relative;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ededed;
  }
}
