.productImgList {
  display: flex;
  justify-content: center;
  width: 511px;
  height: 40px;
  display: flex;
  margin: 15px -1px 0;
  overflow: hidden;

  li {
    margin: 0 10px;
    img {
      height: 40px;
    }
  }
}
