@import '/src//styles/variables.scss';

.productInfoWrapper {
  display: flex;
  position: relative;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  top: 0px;
  border: 1px solid #ededed;

  .mainProductImg {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid #ededed;
  }

  .productReviewCount {
    position: absolute;
    bottom: 24px;
    left: 40px;
  }
}
