@import '/src/styles/variables.scss';

.cartInfoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  height: 64px;
  margin: 0 auto;
  border-top: 1px solid #ececef;

  .allSelect {
    font-weight: bold;
    font-size: 16px;
  }

  .deleteAll {
    width: 96px;
    height: 34px;
    background-color: $MainBackground;
    border: 1px solid #ececef;
    font-size: 14px;
  }

  .cartInfo {
    width: 1280px;
    height: 500px;
    margin: auto;
    background-color: #f4f4f4;
  }
}
.cartInfoMap {
  position: relative;
  top: 25px;
  width: 1200px;
  height: 450px;
  margin: auto;
  background-color: $MainBackground;
  border-radius: 10px;
  box-shadow: 0px 3px 9px rgba(103, 98, 98, 0.05);
  overflow: scroll;

  .bfLogo {
    height: 30px;
    padding-top: 20px;
    padding-left: 10px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
  }

  .infoMapBox {
    display: flex;
    justify-content: space-between;
    position: relative;
    justify-content: center;
    top: 25px;
    height: 140px;
    margin-left: 30px;
    margin-right: 30px;
    border-top: 3px solid black;
    border-bottom: 1px solid #cacbd4;

    .productSelect {
      margin-top: 60px;
    }

    .infoBox {
      width: 100%;
      margin: auto 10px;
      font-size: 14px;

      .imgText {
        margin-left: 110px;

        .infoTitle {
          font-weight: bold;
        }

        .infoPrice {
          margin-top: 10px;
          margin-bottom: 10px;
          font-weight: bold;
        }

        .storeInfo {
          color: #cacbd4;
          font-size: 12px;
        }
      }
    }
    .sizeBox {
      flex: 1;
      border-left: 1px solid #ececef;
      border-right: 1px solid #ececef;
      font-size: 14px;
      font-weight: bold;

      .sizeS {
        padding: 15px 0px 15px 15px;
        border-bottom: 1px solid #ececef;
      }
      .sizeM {
        padding: 15px 0px 15px 15px;
        border-bottom: 1px solid #ececef;
      }
      .sizeL {
        padding: 15px 0px 15px 15px;
      }

      .quantityBtnS {
        position: relative;
        left: 80px;

        .quantityS {
          margin: 0px 5px;
        }

        .quantityMinusS,
        .quantityPlusS {
          font-size: 12px;
        }
      }

      .quantityBtnM {
        position: relative;
        left: 75px;

        .quantityM {
          margin: 0px 5px;
        }

        .quantityMinusM,
        .quantityPlusM {
          font-size: 12px;
        }
      }

      .quantityBtnL {
        position: relative;
        left: 82px;

        .quantityL {
          margin: 0px 5px;
        }

        .quantityMinusL,
        .quantityPlusL {
          font-size: 12px;
        }
      }
    }

    .priceBox {
      flex: 1;
      margin-top: 23px;
      text-align: center;

      .productPriceText {
        font-size: 12px;
        font-weight: bold;
      }

      .productPrice {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: 800;
      }

      .orderBtn {
        width: 70px;
        height: 30px;
        color: $green;
        background-color: white;
        border: 1px solid $green;
        border-radius: 10px;
      }
    }

    .delivery {
      flex: 1;
      border-left: 1px solid gainsboro;
      padding-top: 23px;
      text-align: center;

      .deliveryPriceText {
        font-size: 12px;
        font-weight: bold;
      }

      .deliveryPrice {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: 800;
      }

      .deliveryFree {
        color: #cacbd4;
        font-size: 12px;
      }
    }
  }

  .imgFlex {
    display: flex;
    flex: 2;
  }

  .pants {
    float: left;
    width: 90px;
    height: 90px;
  }
}

.total {
  display: flex;
  justify-content: center;
  align-items: cneter;
  width: 1280px;
  margin: 50px auto;

  .sizeFour {
    font-size: 14px;
    font-weight: 800;
  }

  .sizeFourSaleText {
    padding-right: 20px;
    font-size: 14px;
    font-weight: 800;
  }

  .sizeEight {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 800;
  }

  .sizeEightSale {
    margin-top: 10px;
    color: red;
    text-align: left;
    font-size: 18px;
    font-weight: 800;
  }

  .plus,
  .minus {
    padding-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px;
  }

  .totalPriceText {
    padding-left: 20px;
    padding-top: 10px;
    border-left: 1px solid gray;
    font-size: 16px;
    font-weight: 800;
  }

  .totalPrice {
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    color: $green;
    font-size: 18px;
    font-weight: 800;
  }

  .selectPrice,
  .deliveryPrice,
  .dcPrice {
    text-align: center;
  }
}

.finalSelect {
  width: 1280px;
  margin: auto;

  .finalBtn {
    width: 600px;
    height: 50px;
    margin-left: 350px;
    color: white;
    background-color: $green;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 18px;
  }
}
