@import '/src/styles/variables.scss';

.cartInProduct {
  display: flex;
  margin: 0 30px;
  padding: 15px 0;
  border-top: 1px solid $secondryFontColor;

  .productContainer {
    display: flex;
    flex: 1.3;

    .productWrap {
      display: flex;

      font-size: 14px;

      .productCheckBox {
        position: relative;
        top: 68px;
      }

      .productImage {
        width: 110px;
        margin: 20px;
      }

      .productDetail {
        margin-top: 20px;
        padding-left: 20px;
        font-weight: 900;

        .detailText {
          line-height: 180%;
          font-size: 15px;
        }

        .detailPrice {
          line-height: 250%;
        }

        .discountText {
          line-height: 180%;
          color: red;
        }

        .discountPrice {
          padding-left: 10px;
          color: red;
        }

        .sellerInfo {
          line-height: 180%;
          color: #cacbd4;
          font-size: 12px;
          font-weight: 100;
        }
      }
    }
  }

  .sizeContainer {
    flex: 0.1;
    display: grid;
    grid-template-columns: 25px repeat(2, 60px);
    grid-template-rows: repeat(3, 30px);
    align-content: center;

    .sizeName {
      grid-column: 1/2;
      font-size: 14px;
      font-weight: 900;
    }

    .stock {
      grid-column: 2/3;
      padding: 3px 0;
      font-size: 9px;
      color: $secondryFontColor;
    }
    .quantity {
      grid-column: 3/4;

      .quantityNum {
        padding: 0 5px;
        font-size: 13px;
        font-weight: 900;
      }

      .quantityMinus,
      .quantityPlus {
        font-size: 10px;
        font-weight: 100;

        &:hover {
          cursor: pointer;
          color: $secondryFontColor;
        }
      }
    }
  }

  .priceContainer {
    flex: 2.3;
    margin-top: 20px;
    text-align: center;

    .priceText {
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .price {
      margin: 20px 0;
      font-size: 15px;
      font-weight: 900;
    }

    .orderBtn {
      width: 80px;
      height: 40px;
      color: white;
      background-color: $green;
      border: none;
      font-weight: 900;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
