@import '/src/styles/variables.scss';

.header {
  grid-column: 1/4;
  grid-row: 1/2;
  overflow: hidden;

  .card {
    display: flex;
    width: 500vw;
    .cardImage {
      width: 100vw;
      height: 767px;
    }
  }
}

.headerCopy {
  grid-column: 1/4;
  grid-row: 1/2;
  position: relative;
  z-index: 90;
  background-color: transparent;
  opacity: 100%;

  .nav {
    .infoWrapper {
      border-bottom: 1px solid $secondryFontColor;
    }
    .menuWrapper {
      border-bottom: 0px;

      .menu {
        border-bottom: 0px;
      }
    }
  }

  .prevBtn,
  .nextBtn {
    opacity: 0%;
  }

  .cardTitle {
    position: absolute;
    top: 250px;
    left: 150px;
    font-size: 52px;
    font-weight: 900;
    color: $fontColor;
    width: 280px;
    line-height: 90px;
  }

  .cardContent {
    position: absolute;
    top: 420px;
    left: 150px;
    color: $fontColor;
    font-size: 12px;
    width: 500px;
    line-height: 60px;
  }

  &:hover {
    opacity: 100%;

    .prevBtn {
      position: absolute;
      top: 60%;
      left: 10px;
      margin-top: -80px;
      opacity: 30%;
      width: 80px;
      height: 80px;
      background-color: $fontColor;
      border: 0px;
      border-radius: 50%;

      &:hover {
        opacity: 100%;
        cursor: pointer;
      }

      i {
        font-size: 30px;
        color: $MainBackground;
      }
    }

    .nextBtn {
      position: absolute;
      top: 60%;
      right: 10px;
      margin-top: -80px;
      opacity: 30%;
      width: 80px;
      height: 80px;
      background-color: $fontColor;
      border: 0px;
      border-radius: 50%;

      &:hover {
        opacity: 100%;
        cursor: pointer;
      }

      i {
        font-size: 30px;
        color: $MainBackground;
      }
    }
  }

  .circleBtnList {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -25px;

    .circleBtn {
      background-color: transparent;
      border: 0;

      i {
        color: $fontColor;
        opacity: 30%;
        font-size: 5px;

        &:hover {
          opacity: 100%;
          cursor: pointer;
        }
      }
    }
  }
}
